*{
	padding:0;
	margin: 0;
}
body{
	background-image: url('img/fondo.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	-moz-background-size: 100%;
}
main{
	width: 80%;
	padding: 1rem;
	height: 75vh;
	margin: 5% 10%;
	text-align: justify;
	background-color: rgba(230, 230, 230, 0.9);
	overflow: auto;
	box-sizing: border-box;
}
input{
	padding: 2px;
	margin: 20px;
	font-size: large;
	width: 400px;
	background: transparent;
    	border-top: none;
	border-right: none;
	border-left: none;
	outline: none;
}
article:first-child input{
	display: block !important;
}
article:first-child input:first-child{
	width: 100px;
	text-align: center;
}
article:first-child input:nth-child(5){
	width: 100px;
	text-align: center;
}
article:last-child{
	float: left;
	text-align: center;
	height: 50px;
}

a:hover, input[type="submit"]:hover{
	color: red;
}
